node_modules
.next
out
.env
.env.local
.env.*.local
.vercel
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-dev*.log
DOCUMENTOS/*.pdf
/DOCUMENTOS/
/Download/
/Downloads/
*.tsbuildinfo

.vercel
.env*.local
supabase/.temp/
